<h1>Welcome to PhotoShare!</h1>
<div class='container'>
  <%= link_to "Create new account!", signup_path, :class => "btn btn-primary" %>
  <%= link_to "Log in", login_path, :class => "btn btn-primary" %>
</div>
