<h3>add a photo</h3>

<%= form_for @current_user.photo, :url => photos_path, :html => { :multipart => true } do |f| %>
  <%= f.file_field :avatar %>
  <%= f.submit(:class => "btn btn-primary") %>
<% end %>
